@import "tailwindcss";

/* Pull-to-Refresh Indicator */
.zptr--ptr {
  @apply text-sm text-gray-700 bg-gray-50 border-b border-gray-200 p-2 text-center shadow-md rounded-md;
}

/* Dark Mode Support */
@media (prefers-color-scheme: dark) {
  .zptr--ptr {
    @apply text-gray-300 bg-gray-800 border-b border-gray-700;
  }
}

details>summary {
  list-style: none;
  /* Removes the default list-style marker */
}

details>summary::-webkit-details-marker {
  display: none;
  /* Specifically targets the Webkit-based arrow in browsers like Chrome and Safari */
}

summary::marker {
  content: "";
}