<%# locals: (books: [], show_author: true) %>
<div class="space-y-4">
  <% books.each do |book| %>
    <%# Use async loading with Turbo Frames %>
    <%= turbo_frame_tag "book_#{book.id}",
        target: "_top",
        src: card_book_path(book), 
        loading: "lazy",
        class: "block" do %>
      <%= render "books/book_skeleton" %>
    <% end %>
  <% end %>
</div>
