<%# locals: (books: [], show_author: true) %>
<div class="space-y-4">
  <% books.each do |book| %>
    <% if Rails.env.test? && book.attributes.keys.size > 1 %>
      <%# In test environment with full book data, render directly %>
      <%= render "books/book_card_content", book: book %>
    <% else %>
      <%# Use async loading with Turbo Frames %>
      <%= turbo_frame_tag "book_#{book.id}", 
          src: card_book_path(book), 
          loading: Rails.env.test? ? "eager" : "lazy",
          class: "block" do %>
        <%= render "books/book_skeleton" %>
      <% end %>
    <% end %>
  <% end %>
</div>
